{% extends 'base.html' %}
{% load pages_tags i18n static %}
{% load_pages %}

{% block title %}{% show_content current_page "title" %}{% endblock title %}


{% block main_container %}
    {{ pages }}
    <div class="main-container">
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8">
                        <article>
                            <div class="article__title text-center">
                                <h1 class="h2">{% show_content current_page "title" %}</h1>
                            </div>
                            <!--end article title-->
                            <div class="article__body">

                                {% page_has_content 'body-image' %}
                                    <img src="/media/{% imageplaceholder 'body-image' %}">
                                {% end_page_has_content %}

                                {% placeholder body with RichTextarea %}
                            </div>

                        </article>
                        <!--end item-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
    </div>
{% endblock main_container %}