{% load pages_tags cache %}
{% if page.status %}
    <li>
        <a href="{% show_absolute_url page %}">{% show_content page "title" %}</a>
        {% if children %}
            <ul class="pl-3">
                {% for child in children %}
                    {% pages_menu child %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endif %}