{% load static pages_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site Description Here">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/socicon.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/flickity.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/iconsmind.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/jquery.steps.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<a id="start"></a>
{% block nav_container %}
    <div class="nav-container ">
        <!--end bar-->
        <nav id="menu1" class="bar bar--sm bar-1 hidden-xs ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 hidden-xs">
                        <div class="bar__module">
                            <a href="/">
                                <img class="logo logo-dark" alt="logo" src="{% static 'img/logo.png' %}"/>
                                <img class="logo logo-light" alt="logo" src="{% static 'img/logo.png' %}"/>
                            </a>
                        </div>
                        <!--end module-->
                    </div>
                    <div class="col-lg-10 col-md-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal text-left">
                                <li class="dropdown">
                                    <span class="dropdown__trigger">Pages</span>
                                    <div class="dropdown__container">
                                        <div class="container">
                                            <div class="row">
                                                <div class="dropdown__content dropdown__content--lg col-lg-4">


                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <ul class="menu-vertical">
                                                                {% load_pages %}
                                                                {% for page in pages_navigation %}
                                                                    {% pages_menu page %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <!--end of row-->
                                                </div>
                                                <!--end dropdown content-->
                                            </div>
                                            <!--end row-->
                                        </div>
                                        <!--end container-->
                                    </div>
                                    <!--end dropdown container-->
                                </li>
                                <li class="dropdown dropdown--hover">


                                    <a href="{% url 'profile' %}">                                     <span class="dropdown__trigger">My Profile</span>
 </a>
                                    <div class="dropdown__container">
                                        <div class="container">
                                            <div class="row">
                                                <div class="dropdown__content dropdown__content--lg col-lg-6">
                                                    <div class="pos-absolute col-lg-5 imagebg hidden-sm hidden-xs"
                                                         data-overlay="0">
                                                        <div class="background-image-holder">
                                                            <img alt="background"
                                                                 src="{{ request.user.profile.image.url }}"/>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-end">
                                                        <div class="col-lg-6">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <span class="font-weight-bold">{{ request.user.profile.first_name }} {{ request.user.profile.last_name }}</span>
                                                                    <br>
                                                                    <span>{{ request.user.profile.position }}</span>
                                                                    <hr>
                                                                    <div class="progress-horizontal">
                                                                        <span class="progress-horizontal__label font-weight-bold">Remaining vacation: {{ request.user.profile.vacation_left }} days</span>
                                                                        <div class="progress-horizontal__bar"
                                                                             data-value="{{ request.user.profile.vacation_left_p }}"></div>

                                                                    </div>

                                                                    <div class="progress-horizontal">
                                                                        <span class="progress-horizontal__label font-weight-bold">Remaining day off: {{ request.user.profile.day_off_left }} days</span>
                                                                        <div class="progress-horizontal__bar"
                                                                             data-value="{{ request.user.profile.day_off_left_p }}"></div>
                                                                    </div>
                                                                    <a class="btn btn--sm type--uppercase w-100"
                                                                       href="{% url 'ooo-request' %}">
                                                                        <span class="btn__text">
                                                                            OOO Request
                                                                        </span>
                                                                    </a>

                                                                </div>
                                                            </div>
                                                            <!--end of row-->
                                                        </div>
                                                        <!--end of col-->
                                                    </div>
                                                    <!--end of row-->
                                                </div>
                                                <!--end dropdown content-->
                                            </div>
                                            <!--end row-->
                                        </div>
                                        <!--end container-->
                                    </div>
                                    <!--end dropdown container-->
                                </li>

                            </ul>
                        </div>
                        <!--end module-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </nav>
        <!--end bar-->
        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-md-2">
                        <a href="/">
                            <img class="logo logo-dark" alt="logo" src="{% static 'img/logo.png' %}"/>
                            <img class="logo logo-light" alt="logo" src="{% static 'img/logo.png' %}"/>
                        </a>
                    </div>
                    <div class="col-9 col-md-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!--end bar-->
    </div>
{% endblock nav_container %}
{% block main_container %}

{% endblock main_container %}


{% block footer %}
<footer class="footer-3 text-center-xs space--xs bg--secondary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="logo logo-dark" alt="logo" src="{% static 'img/logo.png' %}"/>
                                        </div>
                                        <div class="col-md-6 text-right text-center-xs">
                                            <ul class="social-list list-inline list--hover">
                                                <li class="list-inline-item">
                                                    <a href="https://plus.google.com/111956504439391330781/about?hl=en">
                                                        <i class="socicon socicon-google icon icon--xs"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="https://twitter.com/teqniksoft">
                                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="https://www.facebook.com/teqniksoft">
                                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="https://www.instagram.com/teqniksoft/">
                                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--end of row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="type--fine-print">
                                                Trusted International Software Development
                                            </p>
                                        </div>
                                        <div class="col-md-6 text-right text-center-xs">
                                            <span class="type--fine-print">©
                                                <span class="update-year">2019</span> Teqniksoft, LLC. All rights reserved.</span>
                                        </div>
                                    </div>
                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                            </footer>
{% endblock footer %}
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/flickity.min.js' %}"></script>
<script src="{% static 'js/easypiechart.min.js' %}"></script>
<script src="{% static 'js/parallax.js' %}"></script>
<script src="{% static 'js/typed.min.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
<script src="{% static 'js/isotope.min.js' %}"></script>
<script src="{% static 'js/ytplayer.min.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
<script src="{% static 'js/granim.min.js' %}"></script>
<script src="{% static 'js/jquery.steps.min.js' %}"></script>
<script src="{% static 'js/countdown.min.js' %}"></script>
<script src="{% static 'js/twitterfetcher.min.js' %}"></script>
<script src="{% static 'js/spectragram.min.js' %}"></script>
<script src="{% static 'js/smooth-scroll.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>