{% extends 'base.html' %}
{% load static %}

{% block main_container %}
    <div class="main-container">
        <section class="space--sm">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <form method="post" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6">
                                    <label for="id_from_date">From date:</label>
                                    <input class="datepicker" type="text" name="from_date" required id="id_from_date">
                                </div>
                                <div class="col-6">
                                    <label for="id_till_date">Till date:</label>
                                    <input class="datepicker" type="text" name="till_date" required id="id_till_date">
                                </div>
                                <div class="col-12">
                                    <label for="id_message">Message:</label>
                                    <textarea name="message" cols="40" rows="10" required id="id_message"></textarea>
                                </div>
                                <div class="col-12">
                                    <div class="input-select">
                                        <select name="request_type" required id="id_request_type">
                                            <option value="Vacation" selected>Vacation</option>
                                            <option value="Day-off">Day-off</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <input type="submit" value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


    <section class="space--sm">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">

                        <table class="border--round table--alternate-row">
	<thead>
		<tr>
			<th>From</th>
			<th>Till</th>
			<th>Message</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
    {% for request in requests %}
		<tr>
			<td>{{ request.from_date }}</td>
			<td>{{ request.till_date }}</td>
			<td>{{ request.message }}</td>
			<td>{{ request.status }}</td>
		</tr>
    {% endfor %}
	</tbody>
</table>
                    </div>
                </div>
            </div>
        </section>



    </div>
{% endblock main_container %}
