{% extends 'base.html' %}
{% load static %}

{% block main_container %}
        <div class="main-container">
            <section class="space--sm">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="text-block text-center">
                                    <img alt="avatar" src="{{ profile.image.url }}" class="image--md" />
                                    <span class="h5">{{ profile.first_name }} {{ profile.last_name }}</span>
                                    <span>{{ profile.position }}</span>
{#                                    <span class="label">Contributor</span>#}
                                </div>
                                <div class="text-block clearfix text-center">
                                    <ul class="row row--list">
                                        <li class="col-md-4">
                                            <span class="type--fine-print block">Location:</span>
                                            <span>{{ profile.location }}</span>
                                        </li>
                                        <li class="col-md-4">
                                            <span class="type--fine-print block">Member Since:</span>
                                            <span>{{ profile.joined }}</span>
                                        </li>
                                        <li class="col-md-4">
                                            <span class="type--fine-print block">Contact:</span>
                                            <a href="mailto:{{ profile.email }}">{{ profile.email }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="boxed boxed--border">
                                <h4>Vacation left</h4>
                                <div class="progress-horizontal">
                                  <span class="progress-horizontal__label h5">Days: {{ vacation.vacation_days_left }}</span>
                                    <div class="progress-horizontal__bar" data-value="{{ vacation.vacation_pecent_left }}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


        </div>
{% endblock main_container %}
