{% extends 'base.html' %}
{% load static %}

{% block nav_container %}
{% endblock %}
{% block main_container %}
    <div class="main-container">


        <section class="imageblock switchable feature-large height-100">
            <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                <div class="background-image-holder">
                    <img alt="background" src="{% static 'img/inner-7.jpg' %}"/>
                </div>
            </div>
            <div class="container pos-vertical-center">
                <div class="row mb--2">
                    <div class="col-md-7 col-lg-5">
                        <a href="/">
                            <img class="logo" alt="logo" src="{% static 'img/logo.png' %}"/>
                        </a>
                    </div>

                </div>
                <div class="row">

                    <div class="col-lg-5 col-md-7">
                        <h2>Login to continue</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" placeholder="Username" name="username" id="id_username"/>
                                </div>
                                <div class="col-md-12">
                                    <input type="password" name="password" id="id_password" placeholder="Password"/>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn--primary type--uppercase" type="submit">Login</button>
                                </div>
                            </div>
                            <!--end of row-->
                        </form>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>


        {#    <section class="height-100 imagebg text-center" data-overlay="4">#}
        {#        <div class="background-image-holder">#}
        {#            <img alt="background" src="{% static 'img/inner-6.jpg' %}"/>#}
        {#        </div>#}
        {#        <div class="container pos-vertical-center">#}
        {#            <div class="row mb--2">#}
        {#                <div class="col-md-7 col-lg-5">#}
        {#                    <a href="/">#}
        {#                        <img class="logo" alt="logo" src="{% static 'img/logo.png' %}"/>#}
        {#                    </a>#}
        {#                </div>#}
        {##}
        {#            </div>#}
        {#            <div class="row">#}
        {#                <div class="col-md-7 col-lg-5">#}
        {#                    <h2>Login to continue</h2>#}
        {#                    <form method="post">#}
        {#                        {% csrf_token %}#}
        {#                        <div class="row">#}
        {#                            <div class="col-md-12">#}
        {#                                <input type="text" placeholder="Username" name="username" id="id_username"/>#}
        {#                            </div>#}
        {#                            <div class="col-md-12">#}
        {#                                <input type="password" name="password" id="id_password" placeholder="Password"/>#}
        {#                            </div>#}
        {#                            <div class="col-md-12">#}
        {#                                <button class="btn btn--primary type--uppercase" type="submit">Login</button>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <!--end of row-->#}
        {#                    </form>#}
        {#                </div>#}
        {#            </div>#}
        {#            <!--end of row-->#}
        {#        </div>#}
        {#        <!--end of container-->#}
        {#    </section>#}
    </div>
{% endblock main_container %}
{% block footer %}
{% endblock footer %}